<!DOCTYPE html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script rel="script" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="window"><label class="title">Automate the attendance process</label>
        <div class="options"><label>Log in below or sign up&nbsp</label><a href="/signup">here</a><label class="error_message">{{error}}</label></div>
        <div class="login">
            <form method="post" action="/authorization" onsubmit="return checkInputs()"><input placeholder="username" name="username" type="text"><br><input placeholder="password" name="password" type="password"><br><button type="submit">Log in</button><br></form>
        </div><label class="credits">Product of George Wang and Fred Liu</label>
    </div>
</body>